.authman-microsoft.resource-owner {
  position: relative;
  display: flex;
  border: 2px solid;
  border-top-color: #f15830;
  border-right-color: #86bd1d;
  border-bottom-color: #ffbc1e;
  border-left-color: #18a8ef;
  padding: 1em;
  align-items: center;
  text-decoration: none;
  color: #fff;
  background: #007fdb;
  line-height: 2em;
  font-family: "Segoe UI", az_font, system-ui, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.authman-microsoft.resource-owner::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #fff;
  content: '';
}

.authman-microsoft.resource-owner .inner::before {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  content: 'Microsoft';
  font-size: 3em;
}

.authman-microsoft.resource-owner .information {
  order: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
}

.authman-microsoft.resource-owner .name {
  font-size: 1.625em;
}
