<div{{ attributes.addClass('authman-microsoft resource-owner') }}>
  <div class="inner">
    <div class="information">
      <div class="personal">
        {{ 'Owned by'|t }}
        <div class="name">{{ element.name }}</div>
      </div>
    </div>
  </div>
</div>
